:root {
  --corprin: #6af0ffdc;
  --ala: #1777fc;
  --letras: #1f3256;
  --fundo: #b9edeb;
  --caixa: rgba(253, 255, 246, 0.405);
}

body {
  background-color: var(--fundo);
  background-image: url('robo.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

.HydroCoach {
  color: var(--letras);
  position: absolute;
  top: 20px;
  left: 60px;
  font-size: 20px;
}

header nav ul {
  display: flex;
  position: absolute;
  gap: 20px;
  top: 20px;
  right: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  text-decoration: none;
  color: var(--letras);
  font-weight: normal;
  font-family: Arial, sans-serif;
}

.Caixa {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 200px;
  height: 150px;
  background: var(--caixa);
  padding: 20px;
  border-radius: 10px;
  color: var(--letras);
}

.chat {
  width: 450px;
  height: 300px;
  background-color: aliceblue;
  opacity: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  top: 100px;
  left: 20px;
}

.mensagens {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.mensagem {
  background-color: rgb(255, 238, 215);
  color: black;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 8px;
  max-width: 80%;
}

.Chatinput {
  border-top: 1px solid #fcf4f4;
  padding: 10px;
  position: absolute;
  top: 240px;
  width: 260px;
}

.Chatinput input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.titulo {
  position: absolute;
  left: 270px;
  top: 10px;
  text-align: center;
  color: #1f3256;
}
.container-planilhas {
  display: flex;
  position: absolute;
  top: 100px;
  left: 150px;
  gap: 20px;
  justify-content: center;
}

.planilha {
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
}


.dia {
  background: var(--letras);
  color: #fceea0bb;
  padding: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.dia:hover {
  background: #125fcc9f;
}

.conteudo {
  color: var(--letras);
  display: none;
  background: #efeacc;
  padding: 10px;
}

.conteudo table {
  width: 100%;
  border-collapse: collapse;
}

.conteudo th, .conteudo td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.usuarioimagem {
  width: 300px;
  position: absolute;
  left: 550px;
  top: 70px;
}
.button-login {
  position: absolute;
  left: 650px;
  top: 300px;
  width: 100px;
  height: 30px;
  background-color: var(--letras);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--fundo);
}

.Hefbuttonlogin {
  color: var(--fundo);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}