:root {
  --corprin: #6af0ffdc;
  --ala: #1777fc;
  --letras: #1f3256;
  --fundo: #b9edeb;
  --caixa: rgba(253, 255, 246, 0.405);
  --logincampos: #fefbdde6;
}

body {
  background-color: var(--fundo);
  background-image: url('../robo.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

.HydroCoach {
  color: var(--letras);
  position: absolute;
  top: 20px;
  left: 60px;
  font-size: 20px;
}

.LoginEmail{ 
    position: absolute;
    top: 300px;
    left: 550px;
    font-size: 20px;
    color: var(--letras);
    background-color: var(--logincampos);
    border-color: transparent;
}

.LoginSenha{ 
    position: absolute;
    top: 350px;
    left: 550px;
    font-size: 20px;
    color: var(--letras);
    background-color: var(--logincampos);
    border-color: transparent;
}
.LoginBotaentrar {
    position: absolute;
    top: 400px;
    left: 620px;
    width: 120px;
    height: 30px;
    background-color: var(--logincampos);
    border-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}
.Loginbotaotexto {
    text-decoration: none;
    color: var(--letras);
}
.emailidentificador {
    position: absolute;
    top: 280px;
    left: 490px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.senhaidentificador {
    position: absolute;
    top: 330px;
    left: 483px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}